*{
  margin:0;
  padding: 0;
  overflow-x: hidden;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Finalyears{
  
  border-radius: 20px;  
  height:300px;
  width:300px;

}

.icon{
  width:70px;
  background-color:black;   
}

.img_icon{
  flex-grow:0.8;
}

.name{
  color:aqua;
  padding:10px;
}

a{
  text-decoration: none;
}


.ul{
  list-style: none;
  li{
    display:inline-block;
    padding:8px;
  }

}

.header{
  display:flex;
  align-items:start;
  justify-content: space-around;
}

.header div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header div div{
  display: flex;
  align-items: center;
}

.nav-container{
  height:60px; 
  width: 100vw;
  padding-top: 20px; 
  background-color: black;  
}

.text{
  color: aqua;
   margin-block: 5rem;
   padding-inline: 5rem;
}
.text1{
  color:aqua;
  font-size:1.5rem;
}

.background_img{
  width: 100%;
  height:100vh;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("./rn_background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position : 50%;
}

.img_icon{
  display: flex;
  justify-content: center;
}
.menu{
  background-color: black;
  height:4px;
  margin: 5px;
  width:20px;
}

.hambox{
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
}

.teamlist{
  display: flex;  
  flex-wrap:wrap;
  gap:60px;
  margin-left:175px;
}

.ourteam{
  background-color: black;
}

.events{
  
  width:100vw;
  background-color: black;
}

.contact{

  width:100vw;
  background-color: black;
  padding-bottom: 5rem;
}

.about{  
  width:100vw;
  background-color: black;
  
}

.sponsor{
  height:100%;
  width:100%;
  background-color: black;
}

.spo{
  display: flex;  
  flex-wrap:wrap;
  gap:70px;
  align-items: center;
  justify-content: center;
}

.spoimg{
  border-radius: 20px;  
  height:300px;
  width:300px;

}

.submitform{
  display:flex;
  flex-direction: column;
  margin-top: 20px; 
  margin-left: 50px;
  margin-right: 50px;
  padding: 1rem;

}

.ourteam{
  
  width:100vw;
  background-color: black;
}

.team{
  display: flex;  
  flex-wrap:wrap;
  gap:80px;
  align-items: center;
  justify-content: center;
}

.facultyText{
  margin-bottom: 6rem;
}

.img4{
  border-radius: 20px;  
  height:300px;
  width:300px;
}

.mediaNav{
  display: none;
}

.event{
  display: flex;  
  flex-wrap:wrap;
  gap:60px;
  justify-content: center;
  align-items:center;
}

.eventimg{
  border-radius: 20px;  
  height:330px;
  width:330px;
}
.text3{
  color:white;
  padding-inline:5rem;
  font-size:20px;
}

input{
  width:600px;
  height:50px;
  margin-block: 1.3rem;
  background-color:transparent !important;  
  border: aqua solid 2px;
  border-radius: 30px;
  text-align: center;
  color: white;
}

input:focus{
  background-color:transparent;
}
button{
  height:40px;
  width:200px;
  border-radius: 30px;
  border: aqua solid 2px;
  background-color: transparent !important;
  color:white;
}

button:hover{
  color:aqua;
}

.submitform{
  align-items: center;
  justify-content: center;
}

.text2{
  color:aqua;
  margin-top:30px;

  margin-bottom:10px;
}

.nav_icon img{
  display:none !important;
}

.text4{
  color:aqua !important;
}


@media only screen and (max-width:1024px){
   *{
    margin:0;
    padding:0;
   }

   .icon{
     width:70px;     
     background-color:black;
   }

   .nav-container{
    height:100%; 
    width: 100vw;
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: black;
   }

   .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
  }

   .header1{
    display:none !important;
   }

   .header2{
    display:none !important;
   }

   .nav_icon img{
     display: block !important;
     height:50px;
     width:50px;
     margin-right: 1rem;
     color: color-mix(in hsl shorter hue, white 100,white 100);
   }

   .img_icon{
    flex-grow:0;
    margin-left: 1rem;
   }

   .text3{
    font-size:1.2em;
    padding:15px;
   }

   .event{
    gap:5rem;
   }

   input{
    width:111%;
    max-width: 350px;
   }

   .mediaNav {
    display: block;
    text-align: start;
    transition: all ease-in-out 0.5s;
   }
   .mediaNav li{
    margin-block: 1rem;
    margin-left: 1.5rem;
   }
   a{
    text-decoration: none;
   }
   .team1{
    height:310px;
    font-size:1rem;
    display: flex;
    flex-direction:column ;
    align-items: start;
   }


}





